@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

.home{
    position: relative;
    background-color: black;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.notpopcard{
    z-index: 10;
}

.topintro{
    position: absolute;
    top: 10%;
    left: 8%;
    color: white;
    font-family: 'Ephesis';
    font-weight: bold;
}

.introdesc{
    font-size: 1.1rem;
}

.intro{
    font-size: 3.5rem;
}

.pagedesc{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    color: white;
    top: 30%;
    left: 11%;
    font-size: 1rem;
    font-family: 'Work Sans';
}

@media (max-width: 700px) {
    .intro {
        font-size: 3rem;
    }
}

@media (max-width: 500px) {
    .intro {
        font-size: 2.5rem;
    }
    .pagedesc{
        top: 35%;
    }
}

@media (max-width: 400px) {
    .intro {
        font-size: 2rem;
    }

    .pagedesc{
        top: 35%;
    }
}

canvas{
    width: 100%;
    height: 100%;
}

/* Add the following styles to your CSS file */

.navigation-buttons {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column; /* Stack buttons vertically */
    gap: 10px;
    z-index: 1;
    align-items: center;
  }

.horizontal-buttons{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
  
.button {
     /* Full width on small screens */
    background-color: transparent; /* Make the button transparent */
    backdrop-filter: blur(10px);
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    outline: none;
    transition: background-color 0.3s;

}

.leftright{
    width: 50px;
}

.forback{
    width: 80px;
}
  
.button:hover {
    background-color: #2980b9;
}
  
.reset-button {
    background-color: #e74c3c;
}
  
.reset-button:hover {
    background-color: #c0392b;
}
  
.hidenavigatebutton {
    display: flex;
    flex-direction: column;
    position: absolute;
    color: white;
    bottom: 10px; /* Adjusted bottom value */
    left: 50%; /* Centered horizontally */
    transform: translateX(-50%); /* Centered horizontally */
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  

.navigatebutton{
    cursor: pointer;
}

.innernavigate{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navigatetext{
    padding: 10px;
    border-radius: 4px;
    font-size: 18px;
}

.navigatetext:hover{
    background-color: #2980b9;
}

.hidereset{
    padding: 6px;
}