@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');

.home{
    position: relative;
    background-color: black;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.topintro{
    position: absolute;
    top: 10%;
    left: 10%;
    color: white;
    font-family: 'Ephesis';
    font-weight: bold;
}

.introdesc{
    font-size: 1.1rem;
}

.intro{
    font-size: 2rem;
}

canvas{
    width: 100%;
    height: 100%;
}

/* Add the following styles to your CSS file */

.navigation-buttons {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column; /* Stack buttons vertically */
    gap: 10px;
    z-index: 1;
    align-items: center;
  }

.horizontal-buttons{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
  
.button {
     /* Full width on small screens */
    background-color: transparent; /* Make the button transparent */
    backdrop-filter: blur(10px);
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    outline: none;
    transition: background-color 0.3s;

}

.leftright{
    width: 50px;
}

.forback{
    width: 80px;
}
  
.button:hover {
    background-color: #2980b9;
}
  
.reset-button {
    background-color: #e74c3c;
}
  
.reset-button:hover {
    background-color: #c0392b;
}
  
.hidenavigatebutton{
    display: flex;
    flex-direction: column;
    position: absolute;
    color: white;
    bottom: 5%;
    left: 40%;
    justify-content: center;
    align-items: center;
}

.navigatebutton{
    cursor: pointer;
}