.loader-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .loader {
    width: 100px;
    height: 100px;
  }
.loader{
    font-size: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
