.loader-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .loader {
    width: 100px;
    height: 100px;
  }
.loader{
    position: absolute;
    font-size: 40px;
    color: white;
    left: 20%;
    top: 30%;
    width: 500px;
}

